<div style="width: 100%; margin: 40px">
  <section class="flex justify-between" style="width: 100%">
    <div>
      <h2>Name des Profiles</h2>
      <h3>Wohnort</h3>
      <p>Leipzig</p>
      <h3>Meine Rolle</h3>
      <p>Wissenschaft, unschlüssig</p>
      <h3>Ich gehöre zu</h3>
      <p>Parents 4 Future Athen</p>
    </div>
    <div>
      <img src="./assets/icons/climatch_256.png">
    </div>
  </section>
  <section>
    <h3>Über Mich</h3>
    <p>
      Sitze gerne im Grünen und schaue die Bienen bei der Arbeit zu. Wenn eine Biene ausgeschöpft ist,
      dann trage ich sie zum Psychotherapeut.
    </p>
    <h3>Hiermit kenne ich mich aus</h3>
    <p>
      Unterschiedliche Interessen.
    </p>
    <h3>Ich möchte gern darüber wissen</h3>
    <p>
      Weltraum, Pilzen, Klimamodel, Amazonas.
    </p>
  </section>
</div>
