.alert{padding:.85rem 1.5rem;border-radius:4px;background:#fff;position:relative;
  margin-bottom:1rem;border:1px solid transparent}
.alert-danger{color:#fff;background-color:#f66e84;border-color:#f55f78}
.alert-success{color:#fff;background-color:#45ccb1;border-color:#39c9ac}
.alert-warning{color:#fff;background-color:#ffc241;border-color:#ffbd31}
.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
.alert-error{color:#fff;background-color:#f66e84;border-color:#f55f78}
